<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylessheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
    </div>
    <p>{{errormess}}</p>
    {{>footer}}
</body>

</html>
